/*
filename: lab04.css
author: Lan Nguyen
created: 03/09/2026
last modified: 03/09/2026
description: CSS stylesheet for lab04.html
*/

/* Universal / element selectors */
* {
    font-family: calibri, sans-serif;
    color: #2F4F4F;
}

h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: rgb(0, 128, 128);
    font-size: 1.5em;
    font-weight: bold;
}

/* Group selectors */
aside,
footer {
    font-style: italic;
}

h1,
h2,
h3 {
    font-family: arial, sans-serif;
}

/* Table borders */
table,
th,
td {
    border: 1px solid black;
}

/* ID selectors */
#images {
    text-align: center;
}

#headings-title {
    color: red;
}

/* Class selectors */
.special {
    color: darkorange;
    font-weight: bold;
}

.month-heading {
    text-align: right;
}

/* Contextual selectors */
nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
}

ol ul {
    list-style-type: square;
}

/* Pseudo-classes */
aside:hover {
    display: none;
}

nav a:hover {
    background-color: lightblue;
    border-color: darkblue;
}
